services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/app
      - /app/node_modules
      - ~/.config/gcloud/:/root/.config/gcloud
    ports:
      - 3000:3000
    environment:
      CHOKIDAR_USEPOLLING: true
      PORT: 3000
